


.bio_name {
    
    font-size: 40px;
    text-align: center;
}

.bio_info {
    text-align: center;
}



img {
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: auto;
    height: 300px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    
    
    
  }

  .leglist {

    text-align: center; 
    list-style-position: inside;

  }


  /* unvisited link */
a:link {
    color: goldenrod;
  }
  
  /* visited link */
  a:visited {
    color: goldenrod;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: goldenrod;
  }

